@font-face {
  font-family: 'HelveticaNeue-Condensed';
  src: url('assets/fonts/HelveticaNeue-Condensed.woff2') format('woff2'),
      url('assets/fonts/HelveticaNeue-Condensed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTCom-BdCn';
  src: url('assets/fonts/HelveticaNeueLTCom-BdCn.woff2') format('woff2'),
      url('assets/fonts/HelveticaNeueLTCom-BdCn.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url('assets/fonts/HelveticaNeue-Medium.woff2') format('woff2'),
      url('assets/fonts/HelveticaNeue-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('assets/fonts/HelveticaNeue-Bold.woff2') format('woff2'),
      url('assets/fonts/HelveticaNeue-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Roman';
  src: url('assets/fonts/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
      url('assets/fonts/HelveticaNeueLTStd-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-BlkCnO';
  src: url('assets/fonts/HelveticaNeueLTStd-BlkCnO.woff2') format('woff2'),
      url('assets/fonts/HelveticaNeueLTStd-BlkCnO.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Hv';
  src: url('assets/fonts/HelveticaNeueLTStd-Hv.woff2') format('woff2'),
      url('assets/fonts/HelveticaNeueLTStd-Hv.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-BlkCn';
  src: url('assets/fonts/HelveticaNeueLTStd-BlkCn.woff2') format('woff2'),
      url('assets/fonts/HelveticaNeueLTStd-BlkCn.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-HvCn';
  src: url('assets/fonts/HelveticaNeueLTStd-HvCn.woff2') format('woff2'),
      url('assets/fonts/HelveticaNeueLTStd-HvCn.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-HvCnO';
  src: url('assets/fonts/HelveticaNeueLTStd-HvCnO.woff2') format('woff2'),
      url('assets/fonts/HelveticaNeueLTStd-HvCnO.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Blk';
  src: url('assets/fonts/HelveticaNeueLTStd-Blk.woff2') format('woff2'),
      url('assets/fonts/HelveticaNeueLTStd-Blk.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Lt';
  src: url('assets/fonts/HelveticaNeueLTStd-Lt.woff2') format('woff2'),
      url('assets/fonts/HelveticaNeueLTStd-Lt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

