  .fade-enter-active{
    transition: all .5s;
  }
  .fade-leave-active{
    transition: all .25s;
  }
  .fade-enter, .fade-leave-active {
    opacity: 0;
  }

  .fade-up-down-enter-active{
    transition: transform  0.5s .25s ease-in-out,
                opacity  0.5s .25s ease-in-out
  }
  .fade-up-down-enter, .fade-up-down-leave-to {
    opacity: 0;
    transform: translateY(50px);
  }


  .fade-up-down-alt-enter-active {
    transition: transform  0.5s .25s ease-in-out,
                opacity  0.5s .25s ease-in-out
  }
  .fade-up-down-alt-leave-active {
    transition: opacity  0.25s ease-in-out
  }
  .fade-up-down-alt-enter, .fade-up-down-alt-leave-to {
    opacity: 0;
  }
  .fade-up-down-alt-enter{
    opacity: 0;
    transform: translateY(50px);
  }