<template>
  <div v-if="showModal" class="modal">
    <div @click="closeModal()" class="modal__background"></div>
    <div class="modal__dialog">
      <div class="modal__header">
        <slot v-if="hasHeaderSlot" name="header"></slot>
        <img
          v-else
          @click="closeModal()"
          class="modal__close"
          src="@/assets/img/ui/close_btn1.png"
          alt=""
        >
      </div>
      <div class="modal__body">
        <slot name="body"></slot>
      </div>
    </div>
    <!-- </div> -->
  </div>
</template>

<script>

export default {
  name: 'BaseModal',
  props: {
    showModal: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    hasHeaderSlot() {
      return !!this.$slots.header;
    },
  },
  methods: {
    closeModal() {
      this.$root.$emit('startTimeoutCheck');
      this.$emit('close');
    },
  },
  mounted() {
    this.$root.$emit('extendTimeoutCheck');
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  // text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &__background{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: .5;
  }

  &__dialog {
    position: relative;
    width: auto;
    // margin: 10px;
    z-index: 1050;
    background-color: #fff;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    max-width: 1124px;
  }

    &__header{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      &::after{
        content: "";
        display: table;
        clear: both;
      }
    }

      &__close{
        position: absolute;
        // top: 18px;
        // right: 15px;

        // width: 69px;
        // height: 69px;
        right: 14px;
        top: 20px;
        width: 46px;
        height: 46px;

        z-index: 1;

        cursor: pointer;
      }

    &__body{
      padding: 0;
      margin: 0;
      position: relative;
    }
}

</style>
