<template>
  <base-modal @close="closeModal()">
    <template v-slot:body>
      <div
        class="info__image"
        :style="backgroundImage(infoImage)"
      ></div>
      <div class="info__content">
        <div class="feature">
        <div class="info__content_spacer"/>
        <h4 class="info__title">{{infoTitle}}</h4>
        <template
          v-for="(item,index) in infoContent"
        >
          <p
            v-if="item.type === 'text'" 
          >
            {{item.content}}
          </p> 
          <ul v-else-if="item.type === 'list'">
            <li 
              v-for="(listItem) in item.content" 
            >
              {{listItem}} 
            </li>
          </ul>
          
        </template>
        </div>
      </div>
    </template>
  </base-modal>
</template>

<script>
import BaseModal from './BaseModal.vue';
import AdaptableContent from '@/components/AdaptableContent.vue';
import ModalInfoData from '@/data/ModalInfoData.vue';

export default {
  name: 'ModalInfo',
  props: {
    infoTitle: {
      type: String,
      default: 'm8/features/m8_feature_cab_img.png',
    },
    infoImage: {
      type: String,
      default: 'm8/features/m8_feature_cab_img.png',
    },
    infoContent:{
      type: Array,
      default: () => [],
    },
    feature: {
      type: Object,
      required: true,
    },
  },
  components: {
    BaseModal,
    AdaptableContent,
    ModalInfoData,
  },
  methods: {
    closeModal() {
      this.$emit('close');
    },
    backgroundImage(src) {
      return { 'background-image': `url(${src})` };
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
</style>
<style scoped lang="scss">
  /deep/ .modal{
    &__dialog{
      width: 100%;
    }

    &__body{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      max-height: 560px;
      height: 560px;
      box-sizing: border-box

    }
  }

  /deep/ .info{
    &__image{
      flex: 1;
      background-size: cover;
      background-position: 50% 50%;
      height: 100%;
      background-color: #e0e0e0;
      // width: 50%;
    }

    &__content{
      flex: 1;
      width: 50%;
      box-sizing: border-box;
      height: 100%;

      display: flex;
      align-items: center;

      .feature{
        max-height: 100%;
        overflow-y: auto;
        padding: 20px 60px;
        box-sizing: border-box;
      }

      &_spacer{
        margin: 0 0 15px;
        width: 94px;
        height: 1px;
        background-color: #DC4405;
      }

      h4{
        font-family: 'HelveticaNeue-Medium';
        font-size: 24px;
        font-weight: normal;
        text-transform: uppercase;
        margin: 0 0 23px;
        padding-right: 30px;

      }
      ul{
        font-family: 'HelveticaNeueLTStd-Lt';
        list-style-type: disc;
        padding-inline-start: 0px;
        margin: 25px 0 25px 18px;
      }

      p{
        font-family: 'HelveticaNeueLTStd-Lt';
        font-size: 18px;
        line-height: 28px;
        margin: 0 0 20px;
      }

      li{
        margin: 5px 0;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
      }

    }
  }
</style>
