<template>
  <base-modal class=".modal" @close="closeModal()">
    <template v-slot:header><div></div></template>
    <template v-slot:body>
      <img :src="imgSrc" alt="">
    </template>
  </base-modal>
</template>

<script>
import BaseModal from './BaseModal.vue';

export default {
  name: 'ModalImage',
  props: {
    imgSrc: {
      type: String,
      required: true,
    },
  },
  components: {
    BaseModal,
  },
  methods: {
    closeModal() {
      this.$emit('close');
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
</style>
<style scoped lang="scss">
  /deep/ .modal{
    &__dialog{
      // display: flex;
      // align-items: center;
      // justify-content: flex-start;
      // width: 100%;
    }

    &__body{
      width: 100%;
    }
  }

  video{
    width: 100%;
    display: block;
  }


</style>
