<template>
  <base-modal class="modal" @close="closeModal()">
    <template v-slot:body>
      <form>
        <p>Did you like this product?</p>
        <div class="survey__question flex">
          <base-radio name="question1" value="yes" text="Yes" :checked="true"/>
          <base-radio name="question1" value="no" text="No"/>
        </div>
        <p>Would your customers like this product?</p>
        <div class="survey__question flex">
          <base-radio name="question2" value="yes" text="Yes" :checked="true"/>
          <base-radio name="question2" value="no" text="No"/>
        </div>
        <base-button class="survey__submit" text="submit"></base-button>
      </form>
    </template>
  </base-modal>
</template>

<script>
import BaseModal from './BaseModal.vue';
import BaseButton from '@/components/BaseButton.vue';
import BaseRadio from '@/components/BaseRadio.vue';

export default {
  name: 'ModalSurvey',
  props: {
  },
  components: {
    BaseModal,
    BaseButton,
    BaseRadio,
  },
  methods: {
    closeModal() {
      this.$emit('close');
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
</style>
<style scoped lang="scss">

// deep targets child styles
  /deep/ .modal{
    &__dialog{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 540px;
      padding: 0 72px;
    }
  }

  form{
    font-family: 'HelveticaNeue';
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
    color: #1A1A1A;
    text-align: center;

    label{
      font-family: 'Helvetica Neue LT Std';
      font-weight: normal;
      font-style: normal;
      font-size: 18px;
      text-transform: uppercase;
    }

    p{
      margin-bottom: 25px;
      text-align: left;
    }
  }

  .flex{
    display:flex;
    align-items: center;
  }

  .survey{
    &__question{
      margin-bottom: 60px;
    }

    &__submit{
      max-width: 268px;
      margin: 0 auto;

    }
  }


</style>
