<template>
  <base-modal class=".modal" @close="closeModal()">
    <template v-slot:body>
      <iframe src="https://www.kubotausa.com/find-a-dealer"></iframe>
    </template>
  </base-modal>
</template>

<script>
import BaseModal from './BaseModal.vue';

export default {
  name: 'ModalIframe',
  props: {
  },
  components: {
    BaseModal,
  },
  methods: {
    closeModal() {
      this.$emit('close');
    },
  },
  mounted() {
    const _this = this;
    this.$refs.video.addEventListener('ended', () => {
      setTimeout(() => {
        _this.closeModal();
        _this.$root.$emit('startTimeoutCheck');
      }, 500);
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
</style>
<style scoped lang="scss">
  /deep/ .modal{
    &__dialog{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }

    &__body{
      width: 100%;
      margin: -2px 0;
    }
  }

  video{
    width: 100%;
    display: block;
  }


</style>
