<template>
  <div class="card" @click="$emit('clicked')">
    <slot name="content"></slot>
  </div>
</template>

<script>


export default {
  name: 'CardBase',
  components: {
  },
  props: {
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .card{
    width: 100%;
    max-width: 470px;
    height: 470px;
    background: linear-gradient(225deg, #F1F1F1 0%, #EDEDED 100%);

    cursor: pointer;
  }
</style>
