<template>
  <card-base
    :style="{'background-image': 'url(' + videoImage + ')'}"
    @clicked="$emit('clicked')"
  >
    <!-- <template v-slot:content>
      <div class="card__image_wrapper">
        <img class="card__image" :src="videoImage" alt="">
      </div>
      <div class="card__spacer"></div>
      <div class="card__title">{{videoTitle}}</div>
    </template> -->
  </card-base>
</template>

<script>
import CardBase from './CardBase.vue';

export default {
  name: 'CardVideo',
  components: {
    CardBase,
  },
  props: {
    videoTitle: {
      type: String,
      default: 'Video Name',
    },
    videoImage: {
      default: 'https://picsum.photos/350/230?blur=10',
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  /deep/ .card{
  }
  .card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    padding-bottom: 44px;

    font-family: 'Helvetica Neue LT Std';
    font-weight: normal;
    font-style: normal;
    color: #1A1A1A;

    max-width: 510px;
    height: 350px;

    margin: 7.5px;

    box-sizing: border-box;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    &__image{
      width: 60%;
      &_wrapper{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }

    }

    &__spacer{
      height: 1px;
      width: 75px;
      background-color: #DC4405;
      margin-bottom: 18px;
    }

    &__title{
      text-transform: uppercase;
      font-size: 24px;
    }
  }
</style>
