<template>
  <card-base
    @clicked="productSelected()"
    :style="{'background-image': 'url(' + productImage + ')'}"
  >
    <template v-slot:content>
      <!-- <div class="card__image_wrapper">
        <img
          class="card__image"
          :src="require('@/assets/img/products/' + productImage)"
          alt=""
          @click="productSelected()"
        >
      </div> -->
      <!-- <div class="card__spacer"></div> -->
      <div class="card__title">{{productTitle}}</div>
    </template>
  </card-base>
</template>

<script>
import CardBase from './CardBase.vue';

export default {
  name: 'CardProduct',
  components: {
    CardBase,
  },
  props: {
    productImage: {
      type: String, 
    },
    productTitle: {
      type: String,
      default: '',
    },
  },
  methods: {
    productSelected() {
      this.$emit('selected');
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    padding-bottom: 44px;

    width: 470px;
    height: 470px;
    box-sizing: border-box;

    font-family: 'HelveticaNeue-Medium';
    font-weight: normal;
    font-style: normal;
    color: #1A1A1A;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    &__image{
      width: 100%;
      &_wrapper{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
      }

    }

    &__spacer{
      height: 1px;
      width: 75px;
      background-color: #DC4405;
      margin-bottom: 18px;
    }

    &__title{
      text-transform: uppercase;
      font-size: 24px;
      color: #fff;
    }
  }
</style>
