<template>
  <card-base
    :style="backgroundImage(infoImage)"
    @clicked="$emit('clicked')"
  >
    <template v-slot:content>
      <div class="card__bottom_info">
        <img class="icon" src="@/assets/img/ui/feature_arrow.png" alt="">
        <div class="card__title">{{infoTitle}}</div>
      </div>
    </template>
  </card-base>
</template>

<script>
import CardBase from './CardBase.vue';

export default {
  name: 'CardInfo',
  components: {
    CardBase,
  },
  props: {
    infoImage: {
      type: String,
      required: true,
    },
    infoTitle: {
      type: String,
      default: 'Placeholder Text',
    },
  },
  computed: {

  },
  methods: {
    backgroundImage(src) {
      return { 'background-image': `url(${src})` };
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .card{
    max-width: 510px;
    height: 350px;

    background-size: cover;
    background-repeat: no-repeat;

    position: relative;

    font-family: 'HelveticaNeue-Medium';
    color: #FEFEFE;

    &__bottom_info{
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: center;


      margin-bottom: 20px;
      padding: 0 25px;

      .icon{
        margin-right: 10px;
      }
    }

    &__title{
      font-size: 18px;
      text-transform: uppercase;
      width: 80%;
    }
  }
</style>
