<template>
  <div class="product_showcase">
    <modal-video
      v-if="showVideo && videoSrc"
      @close="closeModal()"
    ></modal-video>
      <!-- :videoSrc="require(`@/assets/videos/${videoSrc}`)" -->
    <nav-bar
      :class="[
        'navbar',
        'navbar--white'
      ]"
      @reset="resetVue()"
      @home="goHome()"
    ></nav-bar>

    <div class="product">
      <h2 class="product_title">
        {{product.productName}} Features
      </h2>
      <div class="product_title__spacer"></div>
    </div>
    <section-hero
      class="section section_1"
      :heroTitle="product.heroInfo.heroTitle"
      :heroDesc="product.heroInfo.heroDesc"
      :heroImage="heroImage"
      :heroVideo="product.video || product.videos"
      @openVideo="setVideo($event)"
      @reset="resetVue()"
      ref="productHero"
    >
    </section-hero>

    <!-- <section-videos
      v-if="hasVideoSection"
      class="section section_2"
      scrollTo=".section_3"
      :videos="product.videos"
      @home="goHome()"
      @reset="resetVue()"
      ref="productVideos"
    ></section-videos> -->

    <section-product-info
      class="section section_3"
      :poiData="product.poiData"
      :poiIntro="product.poiIntro"
      :productTitle="product.productName"
      :specsImage="product.specsImg || undefined"
      :compareImage="product.compareImg || undefined"
      @home="goHome()"
      @reset="resetVue()"
      ref="productInfo"
    ></section-product-info>

    <section-features
      v-if="hasFeaturesSection"
      class="section section_4"
      :features="product.features"
      :productTitle="product.productName"
      @home="goHome()"
      @reset="resetVue()"
      ref="productFeatures"
    ></section-features>

  </div>
</template>

<script>
import SectionHero from '@/views/SectionHero.vue';
import SectionVideos from '@/views/SectionVideos.vue';
import SectionFeatures from '@/views/SectionFeatures.vue';
import SectionProductInfo from '@/views/SectionProductInfo.vue';
import ModalVideo from '@/components/modals/ModalVideo.vue';
import NavBar from '@/components/NavBar.vue';

export default {
  name: 'PageProductShowcase',
  components: {
    NavBar,
    ModalVideo,
    SectionHero,
    SectionVideos,
    SectionFeatures,
    SectionProductInfo,
  },
  props: {
    product:{
      type: Object,
      required: true,
    }
  },
  computed: {
    heroImage(){
      let src = '@/assets/products/';
      src += this.product.relativePath;
      src+= '/' + this.product.heroImage;
      console.log(src);
      return require('@/assets/products/'+
        this.product.relativePath+
        '/'+this.product.heroImage
      )
    },
    hasFeaturesSection() {
      return this.product.features;
    },
    hasVideoSection() {
      return this.product.videos;
    }
  },
  methods: {
    setVideo(src){
      if(Array.isArray(src)){
        this.scrollToPage('.section_2');
      }
      else{
        this.videoSrc = src;
        this.showVideo = true;
      }
    },



    // Routine Functions
    closeModal(){
      this.showVideo = false;
    },
    scrollToPage(page) {
      this.$scrollTo(page);
      this.$emit('scrolled', this.sectionNames[page]);
      // this.$root.sendToTrack('Click', 'Scrolled to Page')
    },
    resetVue() {
      this.$emit('reset');
    },
    resetPage() {
      // if (this.$refs.productHero) {
      //   this.$refs.productHero.resetPage();
      // }
      if (this.$refs.productVideos) {
        this.$refs.productVideos.resetPage();
      }
      if (this.$refs.productInfo) {
        this.$refs.productInfo.resetPage();
      }
      if (this.$refs.productFeatures) {
        this.$refs.productFeatures.resetPage();
      }
      this.closeModal();
    },
    goHome() {
      this.$scrollTo(this);
      this.resetPage();
    },
  },
  data() {
    return {
      sectionNames: { //More for readablity
        '.section_1': 'Section Hero (Home)',
        '.section_2': 'Section Videos',
        '.section_3': 'Section POI',
        '.section_4': 'Section Features (Last Page)',
      },
      showVideo: false,
      videoSrc: null,
    };
  },

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  $navbarHeight: 88px;
  .navbar{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    transform: translateZ(0);
    z-index: 1;

    &--white{
      background: #fff;
    }
  }


  .product_title{
    margin-top: 99px;
    margin-bottom: 0;
    font-family: 'HelveticaNeue-Bold';
    text-transform: uppercase;

    font-size: 24px;
    line-height: 1em;
    font-weight: normal;

    text-align: center;

    &__spacer{
      width: 52px;
      height: 1px;
      background-color: #DC4405;
      margin-top: 18px;
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>
