<template>
  <div class="product_select">
    <h1 class="product_select__title">Choose A Product</h1>
    <div class="product_select__card_wrapper">
      <card-product
        v-for="(item, index) in products"
        :key="'product__' + index"
        :productImage="item.productImage"
        :productTitle="item.productName"
        @selected="productSelected(index)"
      ></card-product>
    </div>
  </div>
</template>

<script>
import CardProduct from '@/components/cards/CardProduct.vue';

export default {
  name: 'PageProductSales',
  components: {
    CardProduct,
  },
  props: {
    products: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    productSelected(index) {
      this.$emit('selectedProduct', index);
    },
  },
  data() {
    return {
    };
  },

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .product_select{
    color: #1A1A1A;
    text-align: center;

    &__title{
      margin-top: 164px;
      margin-bottom: 55px;
      font-family: 'HelveticaNeueLTCom-BdCn';
      font-size: 52px;
      text-transform: uppercase;
    }
    &__card_wrapper{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
</style>
