<template>
  <div class="events">
    <drop-down @select="selectedEvents" :options="events" class="events__dropdown"></drop-down>
  </div>
</template>

<script>
import DropDown from '@/components/DropDown.vue';


export default {
  name: 'PageEvents',
  props: {
    events: {
      type: Array,
      default: () => [],
    },
  },
  components: {
    DropDown,
  },
  methods: {
    selectedEvents(event) {
      // console.log(event);
      // console.log('selected1');
      this.$emit('select', event);
    },
  },
  data() {
    return {
    };
  },

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .events{
    background-image: url('../assets/img/backgrounds/event_bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;

    &__dropdown{
      margin-top: 240px;
    }
  }
</style>
