<template>
  <div class="product_model__select">
    <nav-bar
      :class="[
        'navbar',
        'navbar--white'
      ]"
      :homeVisible="false"
      @reset="resetVue()"
    ></nav-bar>
    <div class="title">{{product.name}}</div>
    <img class="product_img" :src="product.image" alt="">
    <drop-down
      class="dropdown"
      :options="seriesOptions"
      label="productName"
      track-by="productName"
      placeholder="Choose a series..."
      @select="optionSelected"
    />
    <!-- <drop-down
      class="dropdown"
      :options="[
        'model 1',
        'model 2',
        'model 3',
        'model 4',
      ]"
      placeholder="Choose a model..."
    /> -->
    <div class="btn_wrp">
      <base-button>
        <img class="icon" src="@/assets/img/ui/location_icon.png" alt="">
        Find A Dealer
      </base-button>
      <base-button>
        Build My Kubota
      </base-button>
    </div>
  </div>
</template>

<script>
import NavBar from '@/components/NavBar.vue';
import DropDown from '@/components/DropDown.vue';
import BaseButton from '@/components/BaseButton.vue';

export default {
  name: 'PageProductSelect',
  components: {
    NavBar,
    DropDown,
    BaseButton,
  },
  props: {
    product: {
      type: Object,
    },
  },
  data() {
    return {
    };
  },
  computed:{
    seriesOptions(){
      let options = [];
      this.product.options.forEach(option => {
        options.push(option.productName);
      })
      return options;
    }
  },
  methods: {
    optionSelected(choice){
      let index =  this.seriesOptions.indexOf(choice);
      if(index > -1){
        this.$emit('selected',index)
      } 
    }
  },
  mounted(){
  }

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '@/assets/scss/_variables.scss';
  .product_model__select{
    color: #1A1A1A;
    text-align: center;

    &__card_wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0 300px;
    }
  }
  .product{
    &_img{
      width: 450px;
    }
  }
  .title{
    position: relative;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    margin-top: 50px;
    padding-bottom: 5px;
    margin-bottom: 10px;

    &::after{
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 120px;
      height: 2px;
      background-color: $kubota--orange 
    }
  }
  .dropdown{
    margin-bottom: 40px;
  }
  
  .btn_wrp{
    display: flex;
    justify-content: center;
    
    .button{
      max-width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 0 10px;
    }
    .icon{
      margin-right: 10px;
    }
  }
</style>
