<template>
  <div class="product_select">
    <nav-bar
      :class="[
        'navbar',
        'navbar--white'
      ]"
      :homeVisible="false"
      @reset="resetVue()"
    ></nav-bar>
    <h1 class="title">Choose A Product</h1>
    <div class="product_select__card_wrapper">
      <div class="product"
        v-for="(item, index) in products"
        :key="'product__' + index"
        @click="productSelected(item)"
      >
        <img class="img" :src="item.image" alt="">
        <div class="spacer"></div>
        <div class="name">{{item.name}}</div>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from '@/components/NavBar.vue';

export default {
  name: 'PageProductSelect',
  components: {
    NavBar,
  },
  props: {
    productImages: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      productSelectImages:[],
      productSelectNames: { 
        'Tractors': 'tractors',
        'Residential / Commerical  Mowers': 'res_com_mowers',
        'Stand-On / Walk-Behind Mower': 'so_wb_mowers',
        'Construction Equiptment': 'con_equipt',
        'Spreaders': 'spreaders',
        'Hay Tools': 'hay_tools',
        'Utility Vehicles': 'util_vehicles'
      },
    };
  },
  computed:{
    products(){
      let products = [];
      let names = Object.entries(this.productSelectNames);
      this.productSelectImages.forEach((product,index) => {
        products.push({
          name: names[index][0],
          image: product,
          folder: names[index][1],
        })
      })
      return products;
    }
  },
  methods: {
    productSelected(item) {
      this.$emit('selectedProduct', item);
    },
    backgroundImage(src) {
      return { 'background-image': `url(${src})` };
    },
    addProductSelectImages(){
      let images = [];
      let r = require.context('@/assets/img/product_select',false,/\.png$/)
      for(const image of r.keys()){
        images.push(r(image))
      }
      this.productSelectImages = images; 
    }
  },
  mounted(){
    this.addProductSelectImages();
  }

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '@/assets/scss/_variables.scss';
  .product_select{
    color: #1A1A1A;
    text-align: center;

    .title{
      position: relative;
      margin-top: 50px;
      padding-bottom: 15px;
      // font-family: 'HelveticaNeueLTCom-BdCn';
      font-size: 26px;
      font-weight: bold;
      text-transform: uppercase;

      
      &::after{
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 2px;
        background-color: $kubota--orange 
      }
    }
    &__card_wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0 300px;
    }
  }
  .product{
    // width: 400px;
    // height: 400px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

    .name{
      position: relative;
      font-size: 16px;
      font-weight: bold;
      padding-top: 10px;

      
      &::before{
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 2px;
        background-color: $kubota--orange 
      }
    }
    
  }
</style>
