<template>
  <div class=".videos">
    <modal-video
      v-if="showVideo"
      :videoSrc="videoSrc"
      @close="closeModal()"
    ></modal-video>
    <div class="videos__grid">
      <!-- <card-video
        v-for="(item, index) in videos"
        :videoImage="require('@/assets/img/products/' + item.thumbnail)"
        :data-track_value="'Video ' + (index + 1) + ' Opened'"
        :key="'video__' + index"
        @clicked="playVideo(item.video)"
      ></card-video> -->
    </div>
    <!-- <img
      v-if="scrollTo"
      class="scroll_down"
      src="@/assets/img/ui/down_arrow_btn1.png"
      alt=""
      @click="scrollPage()"
    > -->
  </div>
</template>

<script>
import CardVideo from '@/components/cards/CardVideo.vue';
import ModalVideo from '@/components/modals/ModalVideo.vue';


export default {
  name: 'SectionVideos',
  components: {
    CardVideo,
    ModalVideo,
  },
  props: {
    scrollTo: {
      type: String,
      default: undefined,
    },
    videos: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    scrollPage() {
      this.$emit('scroll', this.scrollTo);
    },
    resetPage() {
      this.closeModal();
    },
    closeModal() {
      this.showVideo = false;
    },
    playVideo(video) {
      this.videoSrc = video;
      this.showVideo = true;
    },
  },
  data() {
    return {
      showVideo: false,
      videoSrc: undefined,
    };
  },

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  // .card{
  //   width: 100%;
  //   height: 100%;
  // }
  .videos{
    &__grid{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      max-width: 1445px;
      margin: 0 auto;
      margin-top: 129px;
      // padding: 129px 237px 0;
    }
  }
</style>
