<template>
  <div class="features">
    <modal-info
      v-if="showModal"
      :infoImage="require('@/assets/products/tractors/'+productImage)"
      :infoContent="productContent"
      :infoTitle="featureTitle"
      :feature="feature"
      @close="showModal=false"
    ></modal-info>
    <div class="features__title">
      {{productTitle}} features
    </div>
    <div class="features__spacer"></div>
    <div
      :class="[
        'features__grid',
        features.length <= 4 ? 'col-4' : ''
      ]"
    >
      <card-info
        v-for="(item, index) in features"
        :key="'feature__' + index"
        :infoTitle="item.title"
        :infoImage="require('@/assets/products/tractors/'+item.image)"
        :data-track_value="'Feature ' + (index + 1) + ' Opened'"
        :class="[
          'features__grid_card',
          features.length > 6 ? 'card-small' : ''
        ]"
        @clicked="showModals(item,index)"
      ></card-info>
    </div>
    <!-- <img
      v-if="scrollTo"
      class="scroll_down"
      src="@/assets/img/ui/down_arrow_btn1.png"
      alt=""
      @click="scrollPage()"
    > -->
  </div>
</template>

<script>
import CardInfo from '@/components/cards/CardInfo.vue';
import ModalInfo from '@/components/modals/ModalInfo.vue';

export default {
  name: 'SectionFeatures',
  components: {
    CardInfo,
    ModalInfo,
  },
  props: {
    features: {
      type: Array,
      default: () => [],
    },
    productTitle: {
      type: String,
      default: '',
    },
    productIndex: {
      type: Number,
      default: 0,
    },
    scrollTo: {
      type: String,
      default: undefined,
    },
  },
  data() {
    return {
      showModal: false,
      featureTitle: undefined,
      productImage: undefined,
      productContent: undefined,
      feature: {
        product: undefined,
        feature: undefined,
      },
    };
  },
  computed: {
  },
  methods: {
    scrollPage() {
      // this.$scrollTo(this.scrollTo);
      this.$emit('scroll', this.scrollTo);
    },
    resetPage() {
      this.showModal = false;
    },
    showModals(item, index) {
      this.featureTitle = item.title;
      this.productImage = item.image;
      this.productContent = item.copy;
      this.showModal = true;
    },
  },

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  // .card{
  //   width: 100%;
  //   height: 100%;
  // }

  .features{
    &__title{
      margin-top: 100px;
      text-transform: uppercase;
      font-size: 24px;
      text-align: center;
      font-family: 'HelveticaNeue-Bold';
      font-style: normal;

    }
    &__spacer{
        width: 52px;
        height: 1px;
        background-color: #DC4405;
        margin: 0 auto;
        margin-top: 15px;
      }
  }

  .features{
    &__grid{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      // width: 1445px;
      margin: 0 auto;
      margin-top: 62px;
      // padding: 129px 237px 0;

      &.col-4{
        max-width: 1445px;
      }
      &.col-4 > &_card{
        &:nth-child(even){
          margin-right: 0;
        }
      }

      &_card{
        margin-right: 15px;
        margin-bottom: 15px;

        &.card-small{
          max-width: 400px;
        }
      }
    }
  }
</style>
