<template>
  <div class=".product_info">
    <modal-image
      v-if="showImageModal"
      :imgSrc="require(`@/assets/products/tractors/${imgSrc}`)"
      @close="showImageModal = false"
    ></modal-image>

    <modal-video
      v-if="showVideoModal"
      :videoSrc="videoSrc"
      @close="showVideoModal = false"
    ></modal-video>
    <div
      :class="[
        'product_info__wrapper',
        showPoints ? 'flex-start' : ''
      ]"
    >
      <div class="product_info__details">
        <div class="product_info__title_wrapper">
          <h1 class="product_info__title">{{productTitle}}</h1>
          <base-button
            v-if="specsImage"
            text="Specs"
            class="button__specs button--rounded"
            data-track_value="Specs Sheet Opened"
            @clicked="showImage(specsImage)"
          ></base-button>
          <base-button
            v-if="compareImage"
            text="Compare"
            class="button__compare button--rounded"
            data-track_value="Compare Sheet Opened"
            @clicked="showImage(compareImage)"
          ></base-button>
        </div>
        <div class="product_info__details_wrapper">
          <p
            v-if="!showPoints"
            v-html="poiIntro.text"
          ></p>

          <base-button
            v-if="!showPoints"
            data-track_value="POI opened"
            @clicked="showPoints = !showPoints"
            text="View Points Of Interest"
          ></base-button>

          <poi-info-data
            v-if="showPoints"
            :point="pointObj"
          ></poi-info-data>

          <base-button
            v-if="showPoints && hasVideo"
            class="button__video"
            data-track_value="Video Opened"
            @clicked="showVideoModal = true"
            text="Watch Video"
          ></base-button>

        </div>
      </div>

      <POI
        class="product_info__poi"
        :points="poiData"
        :productImage="require('@/assets/products/tractors/'+poiIntro.image)"
        :selectedPoint="poiSelected"
        :showPoints="showPoints"
        @clicked="setSelected"
      ></POI>

    </div>
    <!-- <img
      v-if="scrollTo"
      class="scroll_down"
      src="@/assets/img/ui/down_arrow_btn1.png"
      alt=""
      @click="scrollPage()"
    > -->
  </div>
</template>

<script>
import POI from '@/components/POI.vue';
import BaseButton from '@/components/BaseButton.vue';
import PoiInfoData from '@/data/PoiInfoData.vue';
import ModalImage from '@/components/modals/ModalImage.vue';
import ModalVideo from '@/components/modals/ModalVideo.vue';

export default {
  name: 'SectionProductInfo',
  components: {
    POI,
    BaseButton,
    PoiInfoData,
    ModalImage,
    ModalVideo,
  },
  props: {
    poiData: {
      type: Array,
      required: true,
    },
    poiIntro: {
      type: Object,
      required: true,
    },
    poiModels: {
      type: Array,
      default: () => [],
    },
    productTitle: {
      type: String,
      default: '',
    },
    scrollTo: {
      type: String,
      default: undefined,
    },
    specsImage: {
      type: String,
      default: undefined,
    },
    compareImage: {
      type: String,
      default: undefined,
    },
    productIndex: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    currentPOI() {
      return this.poiData[this.poiSelected];
    },

    hasVideo() {
      return this.currentPOI.video;
    },

    videoSrc() {
      if (this.hasVideo) {
        return this.currentPOI.video;
      }
      return undefined;
    },
    updatedProduct() {
      return this.productIndex;
    },
    pointObj() {
      return {
        product: this.productIndex,
        point: this.poiSelected,
      };
    },
  },
  methods: {
    scrollPage() {
      this.$emit('scroll', this.scrollTo);
    },
    setSelected(index) {
      this.poiSelected = index;
    },
    showImage(img) {
      this.imgSrc = img;
      this.showImageModal = true;
    },
    resetPage() {
      this.showPoints = false;
      this.poiSelected = 0;
      this.closeModal();
    },
    closeModal() {
      this.showImageModal = false;
      this.showVideoModal = false;
    },


  },
  data() {
    return {
      showPoints: false,
      poiSelected: 0,
      showImageModal: false,
      imgSrc: '',
      showVideoModal: false,
    };
  },
  mounted() {
    this.setSelected(0);
  },

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .bold{
    font-weight: bold;
  }
  /deep/ .product_info{
    color: #1a1a1a;
    &__wrapper{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 113px;

      width: 100%;
      &.flex-start{
        align-items: flex-start
      }

    }

    &__title{
      font-family: 'HelveticaNeueLTCom-BdCn';
      &_wrapper{
        display: flex;
        align-items: center;

      }
    }

    &__selector{
      margin-left: 72px;
    }

    &__details{


      padding-left: 152px;
      // max-width: 546px;
      max-width: 50%;
      flex: 1;

      font-family: 'HelveticaNeueLTStd-Lt';

      &_wrapper{
        max-width: 552px;

        .disclaimers{
          // font-family: 'HelveticaNeue-Condensed';
          font-size: 15px;
          // line-height: 28px;
          margin-top: 37px;
        }
      }

      .button{
        &--rounded{
          $height: 46px;
          height: $height;
          border-radius: $height/2;
          width: auto;
          padding: 0 26px;
          font-family: 'HelveticaNeueLTStd-Roman';
          font-size: 20px;
        }

        &__specs{
          margin-left: 54px;
        }

        &__compare{
          margin-left: 18px;
        }

        &__video{
          margin-top: 30px;
          max-width: 193px;
        }
      }
      // padding-right: 226px;
      h1{
        margin: 0;
        font-size: 52px;
        line-height: 1em;
        text-transform: uppercase;
      }

      p{
        font-size: 18px;
        line-height: 28px;
        // margin-top: 54px;
        // margin-bottom: 55px;
      }

      .condensed{
        .product_info__point_title{
          margin-bottom: 25px;
        }
        h1{
          margin: 0;
          font-size: 52px;
          line-height: 1em;
          text-transform: uppercase;
        }

        p{
          font-size: 18px;
          line-height: initial;
          // margin-top: 54px;
          // margin-bottom: 55px;
        }
      }


    }

    &__spacer{
      width: 52px;
      height: 1px;
      background-color: #DC4405;

      margin-top: 54px;
    }

    &__point_title{
      font-family: 'HelveticaNeue-Bold';
      font-size: 24px;
      // line-height: 15px;
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 39px;
    }

    &__point_sub_title{
      font-family: 'HelveticaNeueLTCom-BdCn';
      font-size: 20px;
      line-height: 30p;
    }

    &__list{
      list-style-type: disc;
      padding-inline-start: 0px;
      margin: 25px 0 25px 18px;

      &_item{
        margin: 5px 0;
        // font-weight: 300;
        font-size: 18px;
        line-height: 28px;
      }
    }

    &__poi{

    }
  }

  .scroll_down{
    // margin-top: 104px !important;
  }
</style>
