<template>
  <div class="hero">
    <div
      class="hero__wrapper"
      :style="backgroundImage(heroImage)"
    >
      <h1 class="hero__title">{{heroTitle}}</h1>
      <p class="hero__info" v-html="heroDesc"></p>
      <base-button
        v-if="heroVideo"
        class="hero__btn"
        :text="'Watch Video'"
        @clicked="$emit('openVideo', heroVideo)"
      ></base-button>
    </div>
  </div>
</template>

<script>
import BaseButton from '@/components/BaseButton.vue';

export default {
  name: 'SectionHero',
  components: {
    BaseButton,
  },
  props: {
    heroImage: {
      type: String, //passed a webpack required. apparently it turns into a string
      required: true,
    },
    heroTitle: {
      type: String,
      default: '',
    },
    heroDesc: {
      type: String,
      default: '',
    },
    heroVideo:{
      type: (String, Array), //passed a webpack required. apparently it turns into a string
    },
  },
  computed: {
  },
  methods: {
    backgroundImage(src) {
      return {
        'background-image': `url(${src})`,
      };
    },
  },
  data() {
    return {
    };
  },

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .hero{
    text-align: center;
    &__wrapper{
      width: 100%;
      height: 649px;
      margin-top: 57px;
      background-size: 100%;
      background-position: center top;
      background-repeat: no-repeat;
      box-sizing: border-box;
      padding-top: 57px;


      color: #fff;
    }


    &__title{
      font-size: 52px;
      line-height: 1em;
      margin-bottom: 43px;
      font-family: 'HelveticaNeueLTStd-HvCn';
      text-transform: uppercase;
    }

    &__info{
      // width: 647px;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 33px;
    }

    &__btn{
      max-width: 193px;
    }

  }

</style>
