<template>
  <div class="content">
  </div>
</template>

<script>

export default {
  name: 'AdaptableContent',
  props: {
    content:{
      type: Array,
      default: () => []
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
