<template>
  <button @click="$emit('clicked')" class="button">
    <slot>
      {{text}}
    </slot>
  </button>
</template>

<script>

export default {
  name: 'BaseButton',
  props: {
    text: {
      type: String,
      default: 'Placeholder',
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .button{
    background: none;
    border: none;
    background-color: #DC4405;

    padding: 21px 0;
    width: 100%;

    font-size: 15px;
    color: #FFFFFF;
    font-family: 'HelveticaNeue-Bold';
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;


    outline: none;
    &:hover{
      background-color: #000;
    }
  }
</style>
