<template>
  <label class="container">
    <input type="radio" :name="name" :value="value" :checked="checked">
    <span class="radio"></span> {{text}}
  </label>
</template>

<script>

export default {
  name: 'BaseRadio',
  props: {
    name: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
    text: {
      type: String,
      default: '',
    },
    checked: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .container {
    $radio-width: 32px;

    display: block;
    position: relative;
    padding-left: $radio-width + 12px;
    line-height: $radio-width;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:first-child{
      margin-right: 54px;
    }
  }

  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom radio button */
  .radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    border: 1px solid #909090;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .radio {
    // background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .radio {
    background-color: #fff;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radio:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .radio:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .container .radio:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #DC4405;
  }
</style>
