<template>
  <div class="dropdown">
    <!-- <h1 class="dropdown__title">Choose Your Event</h1> -->
    <multiselect
      class="dropdown__select"
      v-on:select="emitSelect"
      v-model="value"
      :options="options"
      :allowEmpty="false"
      :showLabels="false"
      :placeholder="placeholder"
      :searchable="false"
    />
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';

export default {
  name: 'DropDown',
  components: {
    Multiselect,
  },
  props: {
    options: {
      type: Array,
      default: () => [],
    },
    placeholder:{
      type: String,
      default: '',
    }
  },
  methods: {
    emitSelect(value) {
      this.$emit('select', value);
    },
  },
  data() {
    return {
      value: null,
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '~vue-multiselect/dist/vue-multiselect.min.css';

.multiselect {
  border: 2px solid #E0E0E0;
  border-radius: 0px;
  color: #393C3E;
  font-size: 16px;
  font-family: 'HelveticaNeueLTStd-Roman';

  .multiselect__tags {
    background-color: #fff;
    border-radius: 0;
    border: none;
    border-right: 2px solid #E0E0E0;
    padding: 25px 37px;
    // margin-bottom: 34px;
    width: 814px;
    font-size: 20px;
    color: #909090;
    // line-height: 1em;
    display: flex;
    align-items: center;
  }
  .multiselect__input,
  .multiselect__single,
  .multiselect__placeholder {
    font-size: 16px;
    font-weight: 500;
    background: none;
    box-shadow: none;
    padding-left: 0;
    line-height: inherit;
    height: 1em;
    font-size: inherit;
    color: inherit;
  }
  .multiselect__placeholder {
    color: inherit;
    // line-height: 20px;
    padding-top: 0;

    margin-bottom: 0px;
  }
  .multiselect__single {
    display: inline;
    margin-bottom: 0;
  }
  .multiselect__option {
    font-weight: 300;
    padding-left: 16px;
  }
  .multiselect__option--selected {
    font-weight: 500;
    background-color: transparent;
  }
  .multiselect__option--highlight,
  .multiselect__option--highlight.multiselect__option--selected {
    color: inherit;
    background-color: #EBEBEB;
  }
  .multiselect__input {
    border: 0 !important;
    box-shadow: none !important;
    margin-bottom: 0;
    padding: 0;
    font-size: 26px;
    color: #909090;

    &::-webkit-input-placeholder { /* WebKit browsers */
      color: inherit;
      opacity: .5;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: inherit;
      opacity: .5;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: inherit;
      opacity: .5;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: inherit;
      opacity: .5;
    }
  }
  .multiselect__select {
    width: 88px;
    padding: 36px 30px;
    height: 100%;;
    // box-sizing: content-box;


    &::before {
      border: 0;
      background: url('../assets/img/ui/dropdown_arrow_gray.png') no-repeat center center;
      background-size: contain;
      margin-top: 0;
      // margin-left: -7px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 28px;
      height: 16px;
    }
  }
  .multiselect__content-wrapper {
    border: 2px solid #CBD1D6;
    min-width: 100%;
    max-width: 260px;
    left: -2px;
    box-sizing: content-box;
    // top: 100%;

    ul {
      width: 100%;

      span {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  &.multiselect--disabled .multiselect__current,
  &.multiselect--disabled .multiselect__select,
  &.multiselect__option--disabled {
    background: none;
  }
}
</style>

<style scoped lang="scss">
  .dropdown{
    margin: 0 auto;
    max-width: 902px;
  }
  .dropdown__title{
    font-family: 'HelveticaNeueLTCom-BdCn';
    font-size: 52px;
    text-transform: uppercase;
  }
</style>
