<template>
  <div
    @click="$emit('click')"
    class="home_btn"
  >
    <img
      class="home_btn__img"
      data-track_value="Home Clicked"
      src="@/assets/img/ui/home_icon.png"
      alt=""
    >
    <div class="home_btn__spacer" data-track_value="Home Clicked"></div>
    <div class="home_btn__text" data-track_value="Home Clicked">HOME</div>
  </div>
</template>

<script>
export default {
  name: 'rename',
  props: {
  },
  data() {
    return {
    };
  },
  computed: {
  },
  methods: {
  },
  mounted() {
  },
  created() {
  },
};
</script>

<style lang="scss" scoped>
.home_btn{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 70px;

  cursor: pointer;
  text-align: center;

  &__img{
    width: 35px;
  }

  &__spacer{
    margin-top: 9px;
    margin-bottom: 14px;
    width: 100%;
    height: 1px;
    background-color: #DC4405;

    // border-bottom: 1px solid #DC4405;
  }

  &__text{
    font-family: 'HelveticaNeueLTStd-Roman';
    font-size: 18px;
    line-height: 13px;
    // letter-spacing: 20px;
  }
}
</style>
