<template>
<!-- Not sure if this should be a component or something else -->
  <div></div>
</template>

<script>
export default {
  name: "idle-check",
  props:{
    duration:{
      type: Number,
      default: 60000,
    },
    location:{
      type: String,
    },
  },
  data() {
    return {
      inactivityTimeout: null,
    }
  },
  methods: {
    resetInactivity() {
      clearTimeout(this.inactivityTimeout);
      this.inactivityTimeout = setTimeout(() => {
        // this.reload();
      }, this.duration);
    },
    // reload(){
    //   if(this.location && this.$route.path !== this.location){
    //     this.$router.push(this.location, () => {window.location.reload()})
    //   } else{
    //     window.location.reload()
    //   }
    // }
  },
  mounted() {
    window.document.addEventListener("click", this.resetInactivity);
  },
  beforeDestroy() {
    window.document.removeEventListener("click", this.resetInactivity);
  }
}
</script>

<style lang="scss" scoped>
</style>       