<template>
  <div class="model_selector">
    <div
      v-for="(item, index) in models"
      :key="'model__' + index"
      :class="[
        'model_selector__item',
        activeIndex == index ? 'active' : ''
      ]"
      @click="activeIndex = index"
    >
      {{item}}
    </div>
  </div>
</template>

<script>

export default {
  name: 'ModelSelector',
  props: {
    models: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      activeIndex: 0,
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .model_selector{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    $height: 50px;
    height: 50px;

    padding: 2px;

    background-color: #F0F0F0;
    border-radius: $height/2;

    box-sizing: border-box;

    &__item{
      $height2: 46px;
      height: $height2;

      padding: 14px 22px;
      text-transform: uppercase;
      border-radius: $height2/2;
      font-family: 'Helvetica Neue LT Std';
      font-weight: normal;
      font-style: normal;

      box-sizing: border-box;

      font-size: 20px;
      line-height: 1em;
      color: #1A1A1A;

      cursor: pointer;

      &.active{
        background-color: #DC4405;
        color: #FEFEFE;
      }
    }

  }
</style>
