<template>
  <nav class="navbar">
    <img
      class="navbar__logo"
      src="@/assets/img/ui/kubota_logo.png"
      alt=""
      @click="reset()"
      ref="navLogo"
    >
    <home-button
      v-if="homeVisible" class="navbar__home"
      @click="$emit('home')"
      data-track_value="Home Clicked"
    >
    </home-button>
  </nav>
</template>

<script>
import HomeButton from '@/components/HomeButton.vue';

export default {
  name: 'NavBar',
  props: {
    homeVisible: {
      type: Boolean,
      default: true,
    },
  },
  components: {
    HomeButton,
  },
  data(){
    return{
      resetMaxClicks: 3,
      resetClickCount: 3,
    }
  },
  methods: {
    reset() {
      if (!this.startShowcase) return;

      if (this.resetClickCount > 1) {
        if (this.resetClickCount === this.resetMaxClicks) {
          const _this = this;
          setTimeout(() => {
            _this.resetClickCount = _this.resetMaxClicks;
          }, 1500);
        }
        this.resetClickCount -= 1;
      } else {
        // this.showEventsSelector = true;
        this.startShowcase = false;
        this.resetClickCount = this.resetMaxClicks;
        this.$emit('reset');
        this.goHome();

        // this.sendToTrack(
        //   'Triple Click',
        //   'Reset To Product Selection',
        // );
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    padding-right: 20px;


    &__logo{
      display: block;
    }

  }
</style>
