<template>
  <div
    class="poi__wrapper"
    :style="backgroundImage(productImage)"
    ref="poiContainer"
  >
    <!-- <img class="poi__image" :src="productImage" alt=""> -->
    <div
      v-show="showPoints"
      v-for="(item, index) in points"
      :key="'point__' + index"
      :data-track_value="'POI ' + index + ' Selected'"
      :class="[
        'poi__point',
        index == selectedPoint ? 'poi__point--selected' : ''
      ]"
      @click="drag(); $emit('clicked',index);"
      :style="setPosition(item.x, item.y)"
    ></div>
  </div>
</template>

<script>
// import { Draggable } from 'draggable-vue-directive';
export default {
  name: 'POI',
  props: {
    productImage: {
      type: String,
      default: 'm8/m8_product_large.png',
    },
    selectedPoint: {
      default: undefined,
    },
    showPoints: {
      type: Boolean,
      default: true,
    },
    points: {
      type: Array,
      default: () => [],
    },
  },
  data(){
    return{
      // Was testing out a draggable directive package. Could be promising if I want to put in the work to make a pr and update for my needs but for now does not work.
      // draggableValue:{
      //   boundingElement: undefined,
      //   enabled: false,
      // }
    }
  },
  computed:{
  },
  methods: {
    setPosition(x, y) {
      return { left: x, top: y };
    },
    backgroundImage(src) {
      return { 'background-image': `url(${src})` };
    },
    drag(){ 
    },
  },
  mounted(){
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .poi{
    &__wrapper{
      display: inline-block;
      position: relative;
      width: 1000px;
      height: 678px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &__point{
      width: 61px;
      height: 61px;

      background-image: url('../assets/img/ui/hotspot.png');
      background-repeat: no-repeat;
      background-size: contain;

      position: absolute;
      box-sizing: border-box;
      cursor: pointer;

      &--selected{
        background-image: url('../assets/img/ui/hotspot_selected.png');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    &__image{
      max-width: 100%;
    }
  }
</style>
