<template>
  <div id="app">
    <idle-check
      :duration="60000*4"
      @idle="goHome()"
    />
    <!-- <page-events
      v-if="showEventsSelector"
      @select="showEvent"
      :events="events"
      class="section"
    ></page-events> -->
    <transition-group name="fade" mode="out-in">
    <page-product-select
      v-if="appState === 'select_product'"
      class="section"
      @selectedProduct="showModels"
      key="select_product"
    />
    <!-- </transition-group>
    <transition name="fade" mode="out-in"> -->
    <page-product-model-select
      v-if="appState === 'select_model'"
      class="section"
      :product="product"
      :models="[]"
      @selected="setIndex"
      key="select_model"
    />
    <!-- </transition>
    <transition-group name="fade" mode="out-in"> -->
    <page-product-showcase
      v-if="appState === 'showcase_model'"
      :product="selectedProduct"
      ref="showcase"
      @reset="reset()"
      @home="goHome()"
      key="showcase"
    ></page-product-showcase>
    </transition-group>
  </div>
</template>

<script>
import axios from 'axios';
// import PageEvents from '@/views/PageEvents.vue';
import IdleCheck from '@/components/IdleCheck.vue';
import PageProductSelect from '@/views/PageProductSelect_v2.vue';
import PageProductModelSelect from '@/views/PageProductModelSelect.vue';
import PageProductShowcase from '@/views/PageProductShowcase.vue';
import Events from '@/data/events.json';

export default {
  name: 'app',
  components: {
    // PageEvents,
    PageProductSelect,
    PageProductModelSelect,
    PageProductShowcase,
    IdleCheck,
  },
  data() {
    return {
      appFlow: [
        'select_event',
        'select_product',
        'select_model',
        'showcase_model',
      ],
      appState: null,

      events: Events,
      selectedEvent: '',

      selectedIndex: 2,
      allProductInfo: [],
      product: {},
    };
  },
  computed: {
    selectedProduct(){
      console.log(this.product.options[this.selectedIndex])
      return this.product.options[this.selectedIndex];
    },
    selectedProducts(){
    },
  },
  methods: {
    // Flow Updates
    showModels(item){
      this.product = item;
      this.product.options = this.allProductInfo.filter(info =>
        info.relativePath === this.product.folder
      )
      this.appState = 'select_model';
      // this.appState = 'showcase_model';
    },

    setIndex(index) {
      console.log(index);
      this.selectedIndex = index;
      this.appState = 'showcase_model';
    },

    showEvent(event) {
      // console.log('select');
      const _this = this;
      setTimeout(() => {
        _this.selectedEvent = event;
        _this.showEventsSelector = false;
      }, 500);
    },


    // Data setup
    getProductChoices(){
      let r = require.context('@/assets/products',true,/\.info.txt$/)
      console.log(r.keys());

    },

    getAllProducts(){
      let info = [];
      let r = require.context('@/assets/products/',true,/\.info.json$/)
      for(const json of r.keys()){
        let obj = r(json);
        obj.relativePath = getRelativePath(json);
        obj.parentPath = getParentPath(json);
        info.push(obj);
      }
      this.allProductInfo = info;


      function getRelativePath(path){
        let split = path.split('/');
        if(split[0] !== '.'){
          return split[0];
        }
        return split[1];
      }
      function getParentPath(path){
        let split = path.split('/');
        if(split[0] !== '.'){
          return split[1];
        }
        return split[2];
      }
    },
    setup(){
      this.getAllProducts();
      // this.getProductChoices();
      this.appState = this.appFlow[1];
    },


    // Helper Functions
    getUrlVars() {
      const vars = {};
      window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, 
      (m, key, value) => {
        vars[key] = value;
      });
      return vars;
    },
    reset() {
      if (!this.startShowcase) return;

      if (this.resetClickCount > 1) {
        if (this.resetClickCount === this.resetMaxClicks) {
          const _this = this;
          setTimeout(() => {
            _this.resetClickCount = _this.resetMaxClicks;
          }, 1500);
        }
        this.resetClickCount -= 1;
      } else {
        // this.showEventsSelector = true;
        this.startShowcase = false;
        this.resetClickCount = this.resetMaxClicks;
        this.goHome();

        this.sendToTrack(
          'Triple Click',
          'Reset To Product Selection',
        );
      }
    },

    goHome() {
      if (this.$refs.showcase) {
        this.$scrollTo(this);
        this.$refs.showcase.resetPage();
      }
    },
  },
  created() {
    // this.selectedIndex = parseInt(this.getUrlVars().index || 0, 10);
  },
  mounted() {
    this.setup();
  },
};
</script>

<style lang="scss">
@import '~normalize.scss/normalize';
@import '@/assets/scss/_fonts.scss';
@import '@/assets/scss/_transitions.scss';
body{
  width: 100%;
  max-width:1920px;
}
#app {
  width: 100%;
  font-family: 'HelveticaNeueLTStd-Roman', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
  color: #1a1a1a;
  // margin-top: 60px;
}
.section{
  height: 100vh;
  // padding-top: 88px;
  position: relative;
  box-sizing: border-box;
}
</style>
