<template>
<!-- eslint-disable -->
    <!-- ----------------------------------------------------------- -->
    <!-- m8 feature copy -->

    <div v-if="isFeature(0,0)" class="feature m8_feature_1">
      <div class="info__content_spacer"/>
      <h4 class="info__title">SPACIOUS AND COMFORTABLE CAB</h4>
      <p>The new M8 Series delivers all day comfort with plenty of room to work. With 148 cubic feet of cabin space, the M8 Series is your office away from your office. Loaded with standard features, including standard air suspension seat and instructor seat, mobile office space, and multiple power outlets, the M8 Series tractors offer all the comfort and convenience you need. If that’s not enough, offered on the M8 are optional leather seats, with semi-active airs suspension and heating and cooling. Additionally, the M8 Series can be upgraded with automatic climate control.</p>
    </div>
    <div v-else-if="isFeature(0,1)" class="feature m8_feature_2">
      <div class="info__content_spacer"/>
      <h4 class="info__title">HIGH PERFORMANCE TRANSMISSION OPTIONS</h4>
      <p>
        With the Kubota M8 Series, you have the choice between two high performing transmission options:<br>
        • 30X15 (6 Speed, 5 Range) Semi-Powershift - The M8 features Kubota's dependable, fully electronically controlled,  Semi-Powershift transmission that provides 30 forward and 15 reverse speeds which allows an optimal gear in each range being available for your application.<br>
        • KVT Transmission (Premium KVT) - The KVT (Kubota Variable Transmission) features a continuously variable transmission that offers an infinite number of forward and reverse speeds. The KVT transmission is programmed for seamless speed setting to perfectly match the ideal working range for the job
      </p>
    </div>
    <div v-else-if="isFeature(0,2)" class="feature m8_feature_3">
      <div class="info__content_spacer"/>
      <h4 class="info__title">SUPERIOR LOADER PERFORMANCE</h4>
      <p>
        The loader on the new M8 Series takes Kubota to new heights. With an impressive 5,490 pound lift capacity and an astonishing maximum height of 181” at the pivot pin, the M8 Series has what it takes to do those demanding tasks, day in and day out. To improve ease and efficiency, all loaders on the M8 Series tractors come standard with 3rd function hydraulics, mechanical self-leveling, Kubota Shockless Ride (KSR) and intuitive electronic joystick controls.
      </p>
    </div>
    <div v-else-if="isFeature(0,3)" class="feature m8_feature_3">
      <div class="info__content_spacer"/>
      <h4 class="info__title">INTEGRATED TECHNOLOGY</h4>
      <p>In the M8 Series tractor, you have premium technology all included in the base tractor. The M8 utilizes the 7” K-Monitor as standard equipment, with the larger 12” K-Monitor Pro available as a factory option. The K-Monitor allows you complete control of tractor functionality, including Standard ISO-BUS connectivity, Kubota Headland Management controls, as wells as hydraulics, PTO and transmission features.  Additionally, all of the top Precision Farm/Guidance providers have developed kits compatible for the M8 Series of tractors, allowing the M8 to be adaptable to your needs.</p>
    </div>


    <!-- ----------------------------------------------------------- -->
    <!-- mx feature copy -->
    <div v-else-if="isFeature(1,0)" class="feature mx_feature_1">
      <div class="info__content_spacer"/>
      <h4 class="info__title">READY TO WORK</h4>
      <p>The Kubota MX Series has a Cat II 3-point hitch that is ready to help you get the job done. Combine that with a Land Pride 3-point quick hitch and the multitude of Land Pride rear implements, and you have a tractor that can get the job done. If you need to do more, don’t forget about our optional front end loader and backhoe, both of which are performance matched to help you maximize your tractor’s potential to get the job done quickly and efficiently.</p>
    </div>
    <div v-else-if="isFeature(1,1)" class="feature mx_feature_2">
      <div class="info__content_spacer"/>
      <h4 class="info__title">EASY TO OPERATE</h4>
      <ul>
        <li>
          Hydrostatic Steering – Smooth, effortless turning is comfortable and reduces fatigue
        </li>
        <li>
          Maneuverable – Ideal size and a tight turning radius make maneuvering in tight spots a breeze
        </li>
        <li>
          Left Side Brakes – Brake pedals for HST models are located on the left side for easier operation and smoother turning
        </li>
        <li>
          Excellent Control Location – All the controls for the MX Series are located right where you need them to be, making operation quick and efficient
        </li>
        <li>
          Electric-Over Hydraulic PTO Switch – Push and turn starts and one push stops the PTO
        </li>
        <li>
          Full-Opening Metal Hood – Allows for easy access to all your daily maintenance items
        </li>
      </ul>
    </div>
    <div v-else-if="isFeature(1,2)" class="feature mx_feature_3">
      <div class="info__content_spacer"/>
      <h4 class="info__title">PERFORMANCE MATCHED BACKHOE</h4>
      <ul>
        <li>
          Kubota Built Backhoe – Kubota’s backhoes are built by Kubota and specifically designed to maximize the performance of the backhoe and tractor
        </li>
        <li>
          Optional Thumb – Adding a thumb increases versatility and makes lifting objects even easier, available in either the economical mechanical or the efficient hydraulic version
        </li>
        <li>
          Easy To Remove – The Kubota BH92 is easily removed without the use of tools
        </li>
        <li>
          Ease of Use – Designed with plenty of dig depth and reach, smooth hydraulics, cushioning valves to prevent shock when the dipper reaches the end of the cylinder stroke and ample room for the operator, you will find the BH92 is not only easy to use, but a pleasure to work with
        </li>
      </ul>
    </div>
    <div v-else-if="isFeature(1,3)" class="feature mx_feature_4">
      <div class="info__content_spacer"/>
      <h4 class="info__title">PERFORMANCE MATCHED FRONT END LOADER</h4>
      <p>The Kubota LA1065 Front Loader is packed with features to make it more versatile and easier to use:<br></p>
      <ul>
        <li>
          Kubota Built Front Loader – Kubota’s front loaders are built by Kubota and specifically designed to maximize the performance of the front loader and tractor
        </li>
        <li>
          Lift Capacity and Height – With over 9 feet of lift height and 2,275 lbs. of lift capacity, the LA1065 is ready to take on any task
        </li>
        <li>
          2-Lever Quick Coupler – A standard 2-Lever Quick coupler allows for quick and easy attachment changing – buckets, pallet forks, bale spears or any number of other front loader attachments are ready to make you more productive
        </li>
        <li>
          4 Bar Bucket Linkage – Allows for additional dump and rollback angles, helping you scoop and dump more with each load
        </li>
        <li>
          Top Quality Loader Valve – The LA1065 features a loader valve that allows for simultaneous boom and bucket operation and contains a regenerative circuit to increase dump times – all these features increase speed and productivity
        </li>
        <li>
          Quick Detach Loader – The LA1065 can quickly and easily be removed from the tractor without tools or buying additional “parking” kits, making it more versatile and easier to use
        </li>
      </ul>
    </div>
    <div v-else-if="isFeature(1,4)" class="feature mx_feature_5">
      <div class="info__content_spacer"/>
      <h4 class="info__title">OPERATOR COMFORT</h4>
      <ul>
        <li>
          High-Back Suspension Seat – Provides comfort and support no matter how long the job takes
        </li>
        <li>
          Easy-to-Read Dash Panel – Large and easy-to-read gauges make monitoring your tractor quick and easy
        </li>
        <li>
         Full-Flat Deck –  Provides ample leg room for a comfortable ride and enables safe and easy mounting/dismounting
        </li>
        <li>
          Plenty of Space – 30 spacious inches between fenders gives you all the room you need to work in comfort
        </li>
        <li>
          Ready for a Long Day – Standard cup holder, tool box and large fuel tank means you’ll be ready for a long day in the field
        </li>
      </ul>
    </div>
    <div v-else-if="isFeature(1,5)" class="feature mx_feature_6">
      <div class="info__content_spacer"/>
      <h4 class="info__title">MULTIPLE POWERTRAIN OPTIONS</h4>
      <ul>
        <li>
          3-Range HST (Hydrostatic Transmission) – Kubota’s MX Series Tractors feature a servo control HST, which makes operating smooth and easy. The servo control allows that operator to apply a consistent amount of pressure on the HST pedal to travel forward or reverse, regardless of the load on the tractor. This makes for a smoother, shock free ride and reduces fatigue during long periods of operation.
        </li>
        <li>
          Synchro Shuttle Gear Drive Transmission – The Kubota MX4800 and MX5200 also offer a gear drive transmission with Kubota’s Synchro Shuttle. With 4 speeds and 2 ranges,these transmissions are designed to allow the operator to easily find the correct speed for almost any application. This, combined with the easy to use synchro shuttle forward/reverse, creates a tractor that is right at home, no matter what the task. From quick direction changes like front loader work or a steady pace like seeding, the Kubota MX Series is a great choice.
        </li>
        <li>
          2WD or 4WD Models – Not everyone wants or needs a 4WD tractor. With Kubota, you have a choice. The Kubota MX4800 and MX5200 both offer a 2WD configuration with a gear transmission for those customers who need a larger tractor, but don’t want or need 4WD.
        </li>
      </ul>
    </div>

    <!-- ----------------------------------------------------------- -->
    <!-- sidekick feature copy -->
    <div v-else-if="isFeature(2,0)" class="feature sidekick_feature_1">
      <div class="info__content_spacer"/>
      <h4 class="info__title">48 HP GASOLINE ENGINE</h4>
      <p>
        The Sidekick’s quick acceleration and high transport speed – up to 40 mph – comes from a powerful 48 HP gasoline engine. Idle Speed Control (ISC) and highland correction ensure stable power for any situation. Equipped with a CVT-Plus transmission, this rugged, water cooled engine provides plenty of torque for an astonishingly quick and smooth acceleration.
      </p>
    </div>
    <div v-else-if="isFeature(2,1)" class="feature sidekick_feature_2">
      <div class="info__content_spacer"/>
      <h4 class="info__title">CVT-PLUS TRANSMISSION</h4>
      <p>
        The Sidekick is equipped with Kubota’s worry-free CVT-Plus Transmission. The centrifugal clutch keeps the heavy, double-cogged belt tight for minimal slippage, ensuring fast response and excellent belt durability. Fully shielded to keep out dust and water, the CVT-Plus also cools the CVT belt with a large cooling fan for even greater durability.
      </p>
    </div>
    <div v-else-if="isFeature(2,2)" class="feature sidekick_feature_3">
      <div class="info__content_spacer"/>
      <h4 class="info__title">SPEED SENSITIVE EPS</h4>
      <p>
        Light at low speed and firm at high speed, the Sidekick’s speed sensitive 45A EPS (electric power steering) offers exceptional steering control, improving not only handling, but also stability. Standard on all RTV-XG850 series models, the EPS ensures outstanding performance even during full payloads.
      </p>
    </div>
    <div v-else-if="isFeature(2,3)" class="feature sidekick_feature_4">
      <div class="info__content_spacer"/>
      <h4 class="info__title">FRONT & REAR INDEPENDENT SUSPENSION</h4>
      <p>
        Even when fully loaded, the Sidekick won’t bottom out. Front and rear independent suspension delivers a smooth ride with plenty of ground clearance. Equipped with high strength Urethane bushings throughout the suspension for increased durability.
      </p>
    </div>
    <div v-else-if="isFeature(2,4)" class="feature sidekick_feature_5">
      <div class="info__content_spacer"/>
      <h4 class="info__title">ENGINE BRAKE</h4>
      <p>
        The Sidekick’s one-way sprag clutch and centrifugal clutch provides engine-assisted deceleration, letting you concentrate on steering rather than braking and giving you dependable control down steep slopes.
      </p>
    </div>
    <div v-else-if="isFeature(2,5)" class="feature sidekick_feature_6">
      <div class="info__content_spacer"/>
      <h4 class="info__title">SELECTABLE FULL-TIME 4WD - SIDEKICK</h4>
      <p>
        The selectable full-time 4WD system ensures outstanding traveling performance, even under heavy loads, providing superior traction. The 4WD system can easily be turned off when 2WD is enough for current driving conditions.
      </p>
    </div>
    <div v-else-if="isFeature(2,6)" class="feature sidekick_feature_7">
      <div class="info__content_spacer"/>
      <h4 class="info__title">CARGO BED</h4>
      <p>
        The Sidekick really shines when you’ve got a big job to do. Its heavy-duty steel cargo box can carry up to 15.2 cubic feet or half a ton (1,000 lbs.) of tools, firewood, gear and supplies. Plus, with a seriously smooth suspension and extra ground clearance, the Sidekick won’t bottom out. So go ahead, load it up!
      </p>
    </div>

    <!-- ----------------------------------------------------------- -->
    <!-- scl feature copy -->
    <div v-else-if="isFeature(3,0)" class="feature scl_feature_1">
      <div class="info__content_spacer"/>
      <h4 class="info__title">Lorem Ipsum</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div v-else-if="isFeature(3,1)" class="feature scl_feature_2">
      <div class="info__content_spacer"/>
      <h4 class="info__title">Lorem Ipsum</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div v-else-if="isFeature(3,2)" class="feature scl_feature_3">
      <div class="info__content_spacer"/>
      <h4 class="info__title">Lorem Ipsum</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div v-else-if="isFeature(3,3)" class="feature scl_feature_4">
      <div class="info__content_spacer"/>
      <h4 class="info__title">Lorem Ipsum</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div v-else-if="isFeature(3,4)" class="feature scl_feature_5">
      <div class="info__content_spacer"/>
      <h4 class="info__title">Lorem Ipsum</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div v-else-if="isFeature(3,5)" class="feature scl_feature_6">
      <div class="info__content_spacer"/>
      <h4 class="info__title">Lorem Ipsum</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>

<!-- eslint-enable -->
</template>

<script>

export default {
  name: 'ModalInfoData',
  props: {
    feature: {
      type: Object,
      required: true,
    },
  },
  methods: {
    isFeature(product, feature) {
      if (this.feature.product === product) {
        if (this.feature.feature === feature) {
          return true;
        }
      }
      return false;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
