<template>
    <!-- ---------------------------------------------- -->
    <!-- m8 POI Info -->
    <!-- eslint-disable -->
    <div v-if="isPoint(0,0)" class="pointInfo">
      <div class="product_info__spacer"></div>
      <div class="product_info__point_title">Visibility</div>
      <p>The New M8 Series has a standard high visibility roof panel that enables the operator to see clearly around the tractor during loader operations or hooking up rear attachments. This feature allows the operator to be more productive and precise due to being able to see clearly around the working environment.</p>
    </div>
    <div v-else-if="isPoint(0,1)" class="pointInfo">
      <div class="product_info__spacer"></div>
      <div class="product_info__point_title">SPACIOUS AND COMFORTABLE CAB</div>
      <p>M8 Series delivers all day comfort with plenty of room to work. With 148 cubic feet of cabin space, the M8 Series is your office away from your office.  Loaded with standard features, including standard air suspension seat and instructor seat, mobile office space, and multiple power outlets, the M8 Series tractors offer all the comfort and convenience you need. If that's not enough, offered on the M8 are optional leather seats, with semi-active airs suspension and heating and cooling.</p>
    </div>
    <div v-else-if="isPoint(0,2)" class="pointInfo">
      <div class="product_info__spacer"></div>
      <div class="product_info__point_title">INTEGRATED TECHNOLOGY</div>
      <p>With the Kubota M8 Series the operator now has the ability to connect with ISOBus implements without having to purchase additional kits to make the tractors ISObus compatible.  The ISOBus connector on rear of tractor communicates with the K-Monitor or K-Monitor Pro to allow operation of an ISOBus compatible implement.</p>
    </div>
    <div v-else-if="isPoint(0,3)" class="pointInfo">
      <div class="product_info__spacer"></div>
      <div class="product_info__point_title">HIGH PERFORMANCE TRANSMISSION</div>
      <p>30X15 (6 Speed, 5 Range) Semi-Powershift - The M8 features Kubota's dependable, fully electronically controlled, Semi-Powershift transmission that provides 30 forward and 15 reverse speeds which allows an optimal gear in each range being available for your application.</p>
    </div>

    <!-- ---------------------------------------------- -->
    <!-- mx POI Info -->
    <div v-else-if="isPoint(1,0)" class="pointInfo">
      <div class="product_info__spacer"></div>
      <div class="product_info__point_title">COMFORT</div>
      <p>The MX Series is built to deliver comfort with the CAB or ROPS model. The all new feature-packed cab is ready to take on any task. Rain or shine, hot or cold, day or night, the MX Series' new factory-installed cab is not only affordable, but also provides year-round comfort. This wide, spacious cab features a flat platform with plenty of legroom, tilt-steering, A/C & heating, easy access and use of operator levers and controls as well as the ability to accessorize it to fit your needs.</p>
    </div>
    <div v-else-if="isPoint(1,1)" class="pointInfo">
      <div class="product_info__spacer"></div>
      <div class="product_info__point_title">VERSATILITY</div>
      <p>The MX Series tractors are renowned for their versatility and ease of operation. With a category I & II 3-Point Hitch, 2WD or 4WD models, gear drive or HST transmission, ROPS or CAB options, and a tight turning radius, the new MX series is unmatched in versatility.</p>
      <p>The MX Series is the ultimate package when it comes to a tractor that can not only fit those larger compact applications, but also those smaller utility applications. Dirt work, landscaping, mowing, loader work, moving hay bales with the 3-point hitch and front loader, pulling hay rakes and tedders, or even commercial applications like construction projects, turf management, or poultry farms. These are just a few of the applications the MX Series was made to do.</p>
    </div>
    <div v-else-if="isPoint(1,2)" class="pointInfo">
      <div class="product_info__spacer"></div>
      <div class="product_info__point_title">AFFORDABILITY</div>
      <p>Continuing the reputation for being affordable, the new MX series is competitively positioned, especially in the 40-60 HP affordable cab market. Additionally, with a wide variety of models to choose from and over 50 optional accessories to add on to your tractor, you can make this series customized according to your applications and criteria.</p>
      <!-- <p>Kubota is known for its reliability, quality and durability and the MX series is built to withstand all of the heavy loads and potential wear and tear over the years. The MX series is designed to minimize maintenance with:</p>
      <ul class="product_info__list">
        <li class="product_info__list_item">
         Metal one-piece hood, fenders and platform
        </li>
        <li class="product_info__list_item">
          World renowned Kubota Diesel Engine
        </li>
        <li class="product_info__list_item">
          Protected hydraulic hoses
        </li>
      </ul>
      <p>Easier Cleaning and Maintenance The new MX-Series is designed to make daily maintenance easy. For fast cleaning, the radiator screen can be removed from either side of the tractor. Additionally, the air filter, battery and coolant recovery tank are easily accessible.</p> -->
    </div>


    <!-- ---------------------------------------------- -->
    <!-- sidekick POI Info -->
    <div v-else-if="isPoint(2,0)" class="pointInfo">
      <div class="product_info__spacer"></div>
      <div class="product_info__point_title">ACCELERATION & HANDLING</div>
      <p>Kubota's all-new 851 cc 4-stroke twin cylinder 48 HP gasoline engine was designed to deliver a smooth acceleration and high transport speed—up to 40mph.  Equipped with EFI for increased reliability and coupled with Kubota's limited slip 4-wheel drive system, the Sidekick allows you to take on the toughest terrains and has best in class handling and acceleration with cargo.</p>
    </div>

    <div v-else-if="isPoint(2,1)" class="pointInfo">
      <div class="product_info__spacer"></div>
      <div class="product_info__point_title">DURABILITY</div>
      <p>The Sidekick’s heavy-duty steel cargo box can carry up to 15.2 cubic feet or 1,000 lbs.* in the bed and tow up to 1,550 lbs. on hills and 2,000 lbs.* on flat terrain.   Tools, firewood, gear, supplies, building material, whatever needs to be moved from here to there, the Sidekick allows you to get more done around the property.  Kubota’s legendary durability includes the standard two year / 1,000 hour warranty.</p>
      <div class="disclaimers">
        *Excluding California Models
      </div>
    </div>

    <div v-else-if="isPoint(2,2)" class="pointInfo">
      <div class="product_info__spacer"></div>
      <div class="product_info__point_title">HANDLING / RIDE COMFORT</div>
      <p>Tuned suspension for handling any rugged terrain, with full or
        empty pay load.  Enhanced steering geometry coupled with speed
        sensitive EPS provides excellent control over any terrain.  Even
        when fully loaded, the Sidekick won’t bottom out. Front and rear
        independent suspension delivers a smooth ride with plenty of
        clearance. It’s designed for the perfect balance of comfort and
        capable loading performance.</p>
    </div>


    <!-- ---------------------------------------------- -->
    <!-- scl POI Info -->
    <div v-else-if="isPoint(3,0)" class="pointInfo">
      <div class="product_info__spacer"></div>
      <div class="product_info__point_title">24.8 HP Turbo Charged Engine</div>
      <ul class="product_info__list">
        <li class="product_info__list_item">
         No DPF
        </li>
        <li class="product_info__list_item">
          High altitude performance
        </li>
        <li class="product_info__list_item">
          Quiet operation
        </li>
      </ul>
    </div>

    <div v-else-if="isPoint(3,1)" class="pointInfo">
      <div class="product_info__spacer"></div>
      <div class="product_info__point_title">INTEGRATED TRACK DESIGN </div>
      <ul class="product_info__list">
        <li class="product_info__list_item">
          Dual flange Front Idler
        </li>
        <li class="product_info__list_item">
          Sealed and Lubricated Rollers
        </li>
        <li class="product_info__list_item">
          Grease track tension design
        </li>
      </ul>
    </div>

    <div v-else-if="isPoint(3,2)" class="pointInfo">
      <div class="product_info__spacer"></div>
      <div class="product_info__point_title">NARROW 36" OVERALL WIDTH</div>
      <ul class="product_info__list">
        <li class="product_info__list_item">
          9.8" wide track standard
        </li>
        <li class="product_info__list_item">
          Low 4.0 psi ground pressure
        </li>
        <li class="product_info__list_item">
          Outstanding traction force
        </li>
        <li class="product_info__list_item">
          Will fit through 36" opening
        </li>
      </ul>
    </div>

    <div v-else-if="isPoint(3,3)" class="pointInfo">
      <div class="product_info__spacer"></div>
      <div class="product_info__point_title">LCD COLOR DASH MONITORING SYSTEM</div>
      <ul class="product_info__list">
        <li class="product_info__list_item">
          Keyless start with passcode protection
        </li>
        <li class="product_info__list_item">
          Easy to read consolidated machine monitoring
        </li>
        <li class="product_info__list_item">
          Service interval reminders
        </li>
        <li class="product_info__list_item">
          Easy to read in sunlight
        </li>
      </ul>
    </div>

<!-- eslint-enable -->
</template>

<script>

export default {
  name: 'PoiInfoData',
  props: {
    point: {
      type: Object,
      required: true,
    },
  },
  methods: {
    isPoint(product, point) {
      if (this.point.product === product) {
        if (this.point.point === point) {
          return true;
        }
      }
      return false;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
